body {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-family: roboto, sans-serif;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
}

.hero-logo-text {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    margin: 10px;
}

.header-link-text {
    display: flex;
}

.header-link-text, 
.hero-secondary-text,
.right-header-content {
    font-size: 18px;
    color: #E5E7EB;
}

ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-flex;
    margin: 15px;
}

.hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

button {
    background-color: #3882F6;
    color: #F8FAF8;
    border: none;
    font-weight: bold;
    border-radius: 8px;
    padding: 8px;
    width: 100px;
}

.header-content {
    display: flex;
    padding: 50px 100px;
    justify-content: space-between;
    align-items: center;
}

.left-header-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-basis: 1;
    flex: 1 1 300px;
    margin-right: 50px;
}

.right-header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 300px;
    align-self: stretch;
    background-color: darkgray;
    text-align: center;
    padding: 10px;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 100px;
    gap: 25px;
}

.info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-bottom: 25px;
}

.placeholders {
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: space-between;
}

.box-and-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 200px;
}

.box {
    outline: solid thick #3882F6;
    width: 175px;
    height: 175px;
    border-radius: 15px;
}

.text {
    text-align: center;
    font-size: 18px;
    color: gray;
}

